@charset="utf-8";

* { font-family: 'Noto Sans KR', sans-serif; margin: 0; padding: 0;}
html,body {margin: 0; padding: 0;}

#warp {width: 100%; height: auto; position: relative;}


/* ---------TITLE / TAB MENU ----------*/
#title {background: url(../image/bg_img/lamy_company.jpg); width: 100%; height: 400px; background-size: cover; background-position: center;}

#tab > div { background: #232323;}
#tab > div > a {color: #fff;}


/* --------- MAIN CONTENT1 -------------*/
#main_content {width: 100%; height: 1000px; background: #232323; padding-top: 200px;}

#main_1 {width: 1200px; margin: 0 auto; color: #fff;}
#main_1 > iframe {width: 1200px; height: 760px; margin: 0 auto; border: 0;}
#m_title {width: 1200px; color: #fff; font-weight: bold; font-size: 30px; margin: 0 auto; padding: 30px 0; position: relative;}
#m_title::before {content: ""; width: 1200px; height: 10px; background: #0cf; position: absolute; top: 0px;}

#main_2 {width: 100%; height: 400px; background: #fff;}
#main_2 > div {width: 1200px; margin: 0 auto; padding: 40px 0px; box-sizing: border-box;}
#main_txt {width: 1200px; margin: 0 auto; font-size: 18px; line-height: 35px;}

/* ------------ YEAR MAIN ------------*/
#year_main {width: 100%; height: auto; background: #232323; padding-top: 200px;}
#year_main > div {width: 1200px; height: auto; margin: 0 auto;}

#year_txt {color: #fff; font-size: 40px; text-align: center; margin-bottom: 100px;}
#year_txt > div {width: 200px; height: 2px; margin: 0 auto; background: #aaa;}

#year_main img {width: 1000px; margin: 50px 60px 50px 140px;}